
::-webkit-scrollbar {
  background-color: #11191f;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #20303b;
  border-radius: 10px;
}

/* firefox */


scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
